.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tab{
    background-color: gainsboro;
    width: 400px;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}

.tab:hover{
    background-color: blanchedalmond;
    scale: 110%;
}

h1.name{
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: black;
}

h2.price {
    font-size: 38px;
    color: black;
}

.list {
    list-style-type: disc;
    margin-bottom: 50px;
    text-align: left;
}

.list li{
    margin-top: 20px;
    color: black;
}

hr {
    height: 7px;
    width: 80%;
    margin: auto;
    background-color: rgb(219, 84, 75);
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

div.about{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
    width: 80%;
}

.about{
    text-align: left;
    color: black;
    padding: 10px;
    width: 100%;
}

div.image-about{
    margin-bottom: auto;
    margin-top: auto;
}

img.about-us{
    max-width: 450px;
    max-height: 100%;
}

button {
    background-color: rgba(219, 85, 75, 0.616);
    border-radius: 8px;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20pt;
    display: block;
    margin: 0 auto;
}

button:hover {
    transform: scale(1.2, 1.2);
    background-color: rgb(219, 85, 75);
}
